<%= render "resume" %>
  <div class="col-md-3 col-md-offset-1">
    <div class="col-md-12">
    <div class="profile_area">
      <div class="profile_inner">
        <div class="profile_picture">
          <a href="#">
            <%= image_tag "profile_pic.png"%>
          </a>
        </div>
        <h2><a href="">Mark Anthony Ortega</a></h2>
        <p>Entrepreneur and Ruby on Rails Developer</p>
        <div class="social_icon">
          <a class="fa fa-envelope" href="mailto:mortega@utexas.edu"></a>
          <a class="fa fa-github resume" title="GitHub" href="http://github.com/markscoin"></a>
          <a class="fa fa-facebook-square" href="http://www.facebook.com/MarkAnthonyOrtega"></a>
          <a class="fa fa-linkedin-square" href="http://www.linkedin.com/in/mortega2/"></a>
          <a class="fa fa-stack-overflow resume" title="StackOverflow" href="http://stackoverflow.com/users/3870853/mark-ortega"></a>
          <a class="fa resume fa-angellist" title="Angel List" href="http://angel.co/markanthonyortega"></a>
          <a href="#" class="resume fa fa-file-pdf-o" title="Resume" data-toggle="modal" data-target="#ortega_resume"></a>
        </div>  
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row" id="accordion">
    <div style="margin: 60px 0 30px 0;">
      <button type="button" data-toggle="collapse" data-parent="#accordion" data-target="#projects" class="btn btn-nav btn-lg active_tab">Projects</button>
      <button type="button" data-toggle="collapse" data-parent="#accordion" data-target="#about" class="btn btn-nav btn-lg">About</button>
      <button type="button" data-toggle="collapse" data-parent="#accordion" data-target="#contact" class="btn btn-nav btn-lg">Contact Info</button>
    </div>
    <div class="col-md-10">
    <%= render "projects" %>
    <%= render "about" %>
    <%= render "contact" %>
    </div>
    </div>
  </div>
 </div>


